/Arraysequal.class
/Countdigits.class
/Swap.class
/duplicateelements.class
/evenoddarray.class
/factorial.class
/fib.class
/linear.class
/minmaxarray.class
/oddevencount.class
/prime.class
/randomnumber.class
/reverse.class
/reversestring.class
/sumarray.class
